.title-lg{
    font: 800 56px/120% var(--font-family);
} 

.title-md{
    font: 800 24px/120% var(--font-family);
} 
.title-sm{
    font: 800 16px/120% var(--font-family);
} 

.subtitle{
    font: 400 20px/120% var(--font-family-subtitle);
}

.text-md{
    font: 400 16px/140% var(--font-family-text);
}

.text-sm{
    font: 400 14px/140% var(--font-family-text);
}

.red {
    color: #E3646E;
}
.purple{
    color: #BB72E9;
} 

.blue {
    color: #3996DB;
} 

.green {
    color: #82BC4F;
} 

.yellow {
    color: #EABD5F;
}

.gray-400 {
    background-color: var(--gray-400);
}

.gray-200 {
    color: var(--gray-200);
}

.gray-100 {
    color: var(--gray-100);
}

.gray-600 {
    background-color: var(--gray-600);
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.grid {
    display: grid;
}

.grid-flow-column {
    grid-auto-flow: column;
}

.grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
}
.p-12 {
    padding: 12px;
}

.m-r-24 {
    margin-right: 24px;
}

.m-b-24 {
    margin-bottom: 24px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-16 {
    margin-bottom: 16px;
}

.m-t-48 {
    margin-top: 48px;
}

.border-radius-12 {
    border-radius: 12px;
}

.w-330 {
    width: 330px;
}

.h-280 {
    height: 280px;
}